<!DOCTYPE html>
<html>
  <head>
    <title>Empire</title>
    <link rel="stylesheet" href="/assets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
      <v-app>
        <div id="form-container "class="d-flex flex-column justify-center ma-auto">
        <h1 class="mb-4 text-center">Welcome to <span class="primary--text">Empire</span></h1>
        <v-card class="px-4 pt-4 pb-2">
          <p class="mb-4"><span class="font-weight-bold secondary--text">Create</span> or <span class="font-weight-bold primary--text">Join</span> a game:</p>
          <v-text-field
            v-model="name"
            label="Display Name"
            dense
            outlined
            required
          ></v-text-field>
          <v-divider class="mb-6"></v-divider>
          <v-text-field
            v-model="room"
            label="Room Name"
            dense
            outlined
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPass ? 'text' : 'password'"
            label="Room Password"
            dense
            outlined
            required
            @click:append="showPass = !showPass"
          ></v-text-field>
          <v-row>
            <v-col cols="6">
              <v-btn @click="createGame" block color="secondary">Create Game</v-btn>
            </v-col>
            <v-col cols="6">
              <v-btn @click="joinGame" block color="primary">Join Game</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-app>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      Vue.prototype.$axios = this.axios
      var app = new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: '#51996d',
                secondary: '#231331',
              },
            },
          },
        }),
        data: {
          name: '',
          room: '',
          password: '',
          showPass: false
        },
        methods: {
          createGame: async function() {
            const resp = await this.$axios.post('/create-game', {
              body: {
                test: 'hi'
              }
            })
            console.log(resp)
          },
          joinGame: async function() {

          }
        }
      });
    </script>
  </body>
</html>