<!DOCTYPE html>
<html>
  <head>
    <title>Empire</title>
    <link rel="stylesheet" href="/assets/game.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
      <v-app>
        <div>
          <v-row class="align-center">
            <v-col cols="12" sm="3" class="text-center">
              <div><span class="primary--text font-weight-bold">Room: </span>{{ roomName }}</div>
              <div><span class="secondary--text font-weight-bold">Password: </span>{{ roomPassword }}</div>
            </v-col>
            <v-col cols="12" sm="6"> 
              <div v-if="topic === ''">
                <v-text-field
                  v-if="isHost"
                  class="mt-6"
                  v-model="tempTopic"
                  :append-icon="'mdi-location-enter'"
                  label="Enter a topic"
                  outlined
                  @click:append="topic = tempTopic"
                ></v-text-field>
                <div v-else class="secondary--text text-center font-weight-bold">
                  Waiting for host to select at topic <v-icon class="ml-2" color="secondary">fas fa-spinner fa-spin</v-icon>
                </div>
              </div>
              <div v-else class="ma-4">
                <div class="d-flex justify-space-between align-center mb-4">
                  <div class="secondary--text font-weight-bold">Topic:</div>
                  <v-btn v-if="isHost && waitingForPlayers" small color="primary" @click="editTopic">Edit Topic</v-btn>
                </div>
                <div class="display-topic secondary--text body-1">{{ topic }}</div>
              </div>
            </v-col>
            <v-col cols="12" sm="3" class="text-center primary--text font-weight-bold">
              <div>{{ myName }}<span v-if="isHost" class="secondary--text font-weight-regular"> (Host)</span></div>
            </v-col>
          </v-row>
          <v-divider class="mx-10"></v-divider>
        </div>
        <div id="waiting-for-players" v-if="waitingForPlayers">
          <div class="font-weight-bold secondary--text display-1 text-center mt-6 mb-10">Lobby</div>
          <div class="d-flex justify-center flex-wrap mb-12">
            <div v-for="(person, index) in players" class="d-flex flex-row align-center mr-8 my-4" :key="index">
              <v-icon x-large :color="(index % 2 === 0) ? 'primary' : 'secondary'" class="mx-3">fas fa-user</v-icon>
              <div>{{ person.name }}</div>
            </div>
          </div>
          <div v-if="topic !== ''" class="d-flex justify-center">
            <div v-if="allAnswersEntered">
              <v-btn v-if="isHost" color="secondary" class="text-center">Start Game</v-btn>
              <div v-else class="secondary--text text-center font-weight-bold mb-6">
                Waiting for host to start the game <v-icon class="ml-2" color="secondary">fas fa-spinner fa-spin</v-icon>
              </div>
            </div>
            <div v-else-if="myAnswer !== ''">
              <div class="text-center mb-8">Submitted Answer: <strong>{{ myAnswer }}</strong></div>
              <div class="secondary--text text-center font-weight-bold mb-6">
                Waiting for everyone else to submit their answers <v-icon class="ml-2" color="secondary">fas fa-spinner fa-spin</v-icon>
              </div>
            </div>
            <div v-else>
              <v-text-field class="mt-6" v-model="myAnswerTemp" :append-icon="myAnswerTemp !== '' ? 'mdi-location-enter' : ''"
                label="Enter an answer..." outlined @click:append="dialog = true"></v-text-field>
              <v-dialog v-model="dialog" max-width="290">
                <v-card>
                  <v-card-text class="pt-5 secondary--text body-1">Are you sure you would like to submit the following answer?
                    </v-card-title>
                    <v-card-text class="headline text-center">
                      {{ myAnswerTemp }}
                    </v-card-text>
                    <v-card-actions>
                      <v-btn color="secondary" text @click="dialog = false">
                        Cancel
                      </v-btn>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" text @click="submitAnswer">
                        Submit
                      </v-btn>
                    </v-card-actions>
                </v-card>
              </v-dialog>
            </div>
          </div>
        </div>
        <div id="reading-answers" v-if="readingAnswers">
          <v-card class="ma-10 pa-6 text-center">
            <v-row class="align-center">
              <v-col cols="1" class="font-weight-bold primary--text display-1">{{ currentDisplayedIndex }}</v-col>
              <v-col cols="10" class="font-weight-bold secondary--text display-1">{{ currentDisplayedAnswer }}</v-col>
              <v-spacer></v-spacer>
            </v-row>
          </v-card>
        </div>
        <div id="in-game" v-if="inGame">

        </div>
      </v-app>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var socket = null;
      Vue.prototype.$axios = this.axios
      var app = new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: '#51996d',
                secondary: '#231331',
              },
            },
          },
        }),
        data: {
          couldNotJoinGame: false,
          waitingForPlayers: false,
          readingAnswers: false,
          inGame: false,
          isHost: false,
          myName: '',
          roomName: '',
          roomPassword: '',
          myAnswer: '',
          tempTopic: '',
          topic: 'asdasd',
          players: [
            {
              name: 'Yogi',
              teamId: 1
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            }
          ],
          answers: [],
          currentDisplayedIndex: 1,
          currentDisplayedAnswer: '',
          myAnswerTemp: '',
          dialog: false,
          allAnswersEntered: false
        },
        computed: {
          getCookie() {
            return function(cname) {
              var name = cname + "=";
              var decodedCookie = decodeURIComponent(document.cookie);  
              var ca = decodedCookie.split(';');
              for(var i = 0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
            }
          }
        },
        methods: {
          editTopic: function () {
            this.tempTopic = this.topic
            this.topic = ''
          },
          load: async function (playerId) {
            // call server for state, if fails cant join game, if succeeds then play game
            try {
              var resp = await this.$axios.get('/api/get-game-state', {
                playerId: playerId,
                room: window.location.pathname.substring(1)
              })
              const data = resp.data
              switch (data.gameState) {
                case 'waitingForPlayers':
                  this.waitingForPlayers = true
                  break;
                case 'readingAnswers':
                  this.readingAnswers = true
                  break;
                case 'inGame':
                  this.inGame = true
                  break;
                default:
                  this.couldNotJoinGame = true
              }
              this.topic = data.topic || ''
              this.players = data.players || []
              this.answers = data.answers || []
              this.isHost = data.isHost
              this.myAnswer = data.myAnswer || ''
              this.myName = data.myName
              this.roomName = data.roomName
              this.roomPassword = data.roomPassword
            } catch(e) {
              couldNotJoinGame = true
            }
          },
          loopAnswers: async function () {
            const sleep = milliseconds => {
              return new Promise(resolve => setTimeout(resolve, milliseconds))
            }
            const shuffle = (array) => {
              var currentIndex = array.length
              var temporaryValue
              var randomIndex

              // While there remain elements to shuffle...
              while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex)
                currentIndex -= 1

                // And swap it with the current element.
                temporaryValue = array[currentIndex]
                array[currentIndex] = array[randomIndex]
                array[randomIndex] = temporaryValue
              }

              return array
            }

            /* First run */
            this.currentDisplayedIndex = ''
            this.currentDisplayedAnswer = 'The words will be displayed twice in a random order. Slowly at first, quicker the second time.'

            await sleep(3000)

            this.currentDisplayedAnswer = 'Lets begin!'

            await sleep(2000)

            var shuffledAnswers = shuffle(this.answers)
            for (var i = 0; i < shuffledAnswers.length; i++) {
              this.currentDisplayedIndex = i + 1
              this.currentDisplayedAnswer = shuffledAnswers[i]
              await sleep(3000)
            }

            /* Second run */
            this.currentDisplayedIndex = ''
            this.currentDisplayedAnswer = 'Once more...'

            await sleep(3000)

            shuffledAnswers = shuffle(this.answers)
            for (var i = 0; i < shuffledAnswers.length; i++) {
              this.currentDisplayedIndex = i + 1
              this.currentDisplayedAnswer = shuffledAnswers[i]
              await sleep(3000)
            }

            this.answers = []
            this.readingAnswers = false
            this.inGame = true
          },
          // sendCreateGame: function () {
          //   socket.emit('message', this.message);
          //   this.message = '';
          // },
        },
        created: function () {
          socket = io();
        },
        mounted: async function () {
          await this.load(this.getCookie('playerId'))
          this.$nextTick(async () => {
            if (this.readingAnswers) {
              await this.loopAnswers()
            }
          })
          // socket.on('message', function (message) {
          //   app.messages.push(message);
          //   // this needs to be done AFTER vue updates the page!!
          //   app.$nextTick(function () {
          //     var messageBox = document.getElementById('chatbox');
          //     messageBox.scrollTop = messageBox.scrollHeight;
          //   });
          // });
        }
      });
    </script>
  </body>
</html>