<!DOCTYPE html>
<html>
  <head>
    <title>Empire</title>
    <link rel="stylesheet" href="/assets/game.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
      <v-app>
        <div>
          <v-row class="align-center">
            <v-col cols="12" sm="3" class="text-center">
              <div><span class="primary--text font-weight-bold">Room: </span>hello</div>
              <div><span class="secondary--text font-weight-bold">Password: </span>123</div>
            </v-col>
            <v-col cols="12" sm="6"> 
              <div v-if="topic === ''">
                <v-text-field
                  v-if="isHost"
                  class="mt-6"
                  v-model="tempTopic"
                  :append-icon="'mdi-location-enter'"
                  label="Enter a topic"
                  outlined
                  @click:append="topic = tempTopic"
                ></v-text-field>
                <div v-else class="secondary--text text-center font-weight-bold">
                  Waiting for host to select at topic <v-icon class="ml-2" color="secondary">fas fa-spinner fa-spin</v-icon>
                </div>
              </div>
              <div v-else class="my-4">
                <div class="d-flex justify-space-between align-center mb-4">
                  <div class="secondary--text font-weight-bold">Topic:</div>
                  <v-btn v-if="isHost" small color="primary" @click="editTopic">Edit Topic</v-btn>
                </div>
                <div class="display-topic secondary--text body-1">{{ topic }}</div>
              </div>
            </v-col>
            <v-col cols="12" sm="3" class="text-center primary--text font-weight-bold">
              <div>John Smith<span v-if="isHost && waitingForPlayers" class="secondary--text font-weight-regular"> (Host)</span></div>
            </v-col>
          </v-row>
          <v-divider class="mx-10"></v-divider>
        </div>
        <div id="waiting-for-players" v-if="waitingForPlayers">
          <div class="font-weight-bold secondary--text display-1 text-center mt-6 mb-10">Lobby</div>
          <div class="d-flex justify-center flex-wrap mb-12">
            <div v-for="(person, index) in players" class="d-flex flex-row align-center mr-8 my-4" :key="index">
              <v-icon x-large :color="(index % 2 === 0) ? 'primary' : 'secondary'" class="mx-3">fas fa-user</v-icon>
              <div>{{ person.name }}</div>
            </div>
          </div>
          <div v-if="topic !== ''" class="d-flex justify-center">
            <v-btn v-if="isHost" color="secondary" class="text-center">Start Game</v-btn>
            <div v-else class="secondary--text text-center font-weight-bold mb-6">
              Waiting for host to start the game <v-icon class="ml-2" color="secondary">fas fa-spinner fa-spin</v-icon>
            </div>
          </div>
        </div>
        <div id="reading-answers" v-if="readingAnswers">
          <v-card class="ma-10 pa-6 text-center">
            <v-row class="align-center">
              <v-col cols="1" class="font-weight-bold primary--text display-1">{{ currentDisplayedIndex }}</v-col>
              <v-col cols="10" class="font-weight-bold secondary--text display-1">{{ currentDisplayedAnswer }}</v-col>
              <v-spacer></v-spacer>
            </v-row>
          </v-card>
        </div>
        <div id="in-game" v-if="inGame">

        </div>
      </v-app>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      var socket = null;
      var app = new Vue({
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: '#51996d',
                secondary: '#231331',
              },
            },
          },
        }),
        data: {
          waitingForPlayers: false,
          readingAnswers: true,
          inGame: false,
          isHost: false,
          tempTopic: '',
          topic: '',
          players: [
            {
              name: 'Yogi',
              teamId: 1
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            },
            {
              name: 'Jesus1',
              teamId: 2
            },
            {
              name: 'Jesus2',
              teamId: 3
            }
          ],
          answers: ['a', 'b', 'c', 'd', 'e', 'f',],
          currentDisplayedIndex: 1,
          currentDisplayedAnswer: ''
        },
        methods: {
          editTopic: function () {
            this.tempTopic = this.topic
            this.topic = ''
          },
          loopAnswers: async function () {
            const sleep = milliseconds => {
              return new Promise(resolve => setTimeout(resolve, milliseconds))
            }
            const shuffle = (array) => {
              var currentIndex = array.length
              var temporaryValue
              var randomIndex

              // While there remain elements to shuffle...
              while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex)
                currentIndex -= 1

                // And swap it with the current element.
                temporaryValue = array[currentIndex]
                array[currentIndex] = array[randomIndex]
                array[randomIndex] = temporaryValue
              }

              return array
            }

            /* First run */
            this.currentDisplayedIndex = ''
            this.currentDisplayedAnswer = 'The words will be displayed twice in a random order. Slowly at first, quicker the second time.'

            await sleep(3000)

            this.currentDisplayedAnswer = 'Lets begin!'

            await sleep(1000)

            var shuffledAnswers = shuffle(this.answers)
            for (var i = 0; i < shuffledAnswers.length; i++) {
              this.currentDisplayedIndex = i + 1
              this.currentDisplayedAnswer = shuffledAnswers[i]
              await sleep(3000)
            }

            /* Second run */
            this.currentDisplayedIndex = ''
            this.currentDisplayedAnswer = 'Once more...'

            await sleep(3000)

            shuffledAnswers = shuffle(this.answers)
            for (var i = 0; i < shuffledAnswers.length; i++) {
              this.currentDisplayedIndex = i + 1
              this.currentDisplayedAnswer = shuffledAnswers[i]
              await sleep(3000)
            }
          }
          // sendCreateGame: function () {
          //   socket.emit('message', this.message);
          //   this.message = '';
          // },
          // sendJoinGame: function () {
          //   socket.emit('join', {
          //     name: this.name,
          //     room
          //   });
          // }
        },
        created: function () {
          socket = io();
        },
        mounted: function () {
          this.loopAnswers()
          // socket.on('message', function (message) {
          //   app.messages.push(message);
          //   // this needs to be done AFTER vue updates the page!!
          //   app.$nextTick(function () {
          //     var messageBox = document.getElementById('chatbox');
          //     messageBox.scrollTop = messageBox.scrollHeight;
          //   });
          // });
        }
      });
    </script>
  </body>
</html>